\begin{question}{{questionid | embrace }}
({{maxpoints}} pts) {{content}}
\AMCOpen{lines={{lines}},dots=false,question={{questionid}}}{
\wrongchoice[F]{f}
\scoring{0}
\wrongchoice[P]{p}
\scoring{1}
\correctchoice[J]{j}
\scoring{2}
}    
\end{question}